#display-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}
.producto {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;

}
.headerCat{
    background-color: #222;
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-color: #ccc
}
.headerCat h2{
    font: bold;
    color: #ccc;
    
}