#display-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 50px;
}
.producto {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;

}

main{
    margin: 0 auto;
}

#main-header{
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
}

#main-header h2{
    margin-bottom: 5px;
}

hr{
    margin: 5px 0px 40px 0px;
}

.productCard {
    background-color: whitesmoke;
    overflow: hidden;
    max-width: 300px;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    overflow: hidden;
    position: relative;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.cardDetails {
    padding: 15px;
    padding-left: 0px;
    text-align: left;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.productName a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.productPrice {
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin: 5px 0px 0px 0px;
}
