#main-image {
    position: relative; 
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

#main-image img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(5px);
}

#main-image h2,
#main-image button {
    position: relative; 
    z-index: 2;
    margin: 10px 0;
}

#main-image h2{
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 50px rgb(50, 50, 50);
    font-weight: bold;
}

#main-image button{
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    background-color: rgba(54, 54, 54, 0.374);
    border: none;
    transition: 0.3s;
}

#main-image button:hover{
    box-shadow: 0px 0px 15px rgb(42, 42, 42);
}


.productsDisplay{
    padding: 0px 150px;
    margin: 50px 0px;
}

.info-section{
    margin-bottom: 20px;
}

.info-section h2{
    margin-bottom: 10px;
    font-size: 32px;
}

.info-section p{
    margin-top: 5px;
    font-weight: 100;
    color: rgb(62, 62, 62);
}

.productListDisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productCard {
    background-color: whitesmoke;
    overflow: hidden;
    max-width: 300px;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    overflow: hidden;
    position: relative;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.cardDetails {
    padding: 15px;
    padding-left: 0px;
    text-align: left;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.productName a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.productPrice {
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin: 5px 0px 0px 0px;
}

