main{
    margin-top: 71.2px;
}

#main-imgs{
    width: 100%;
    display: flex;
    height: 1000px;
}

.gender-img{
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.gender-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.gender-img img:hover{
    transform: scale(1.05);
    opacity: 0.8;
}