#main-imgs{
    width: 100%;
    display: flex;
    height: 1000px;
}

.gender-img{
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.gender-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    transition: 0.3s;
    cursor: pointer;
}

.gender-img img:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.productsDisplay{
    padding: 0px 150px;
}

.info-section{
    margin-bottom: 20px;
}

.info-section h2{
    margin-bottom: 10px;
}

.info-section p{
    margin-top: 5px;
    font-weight: 100;
    color: rgb(62, 62, 62);
}

.productCard {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px; /* Limita el ancho de la tarjeta */
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.productCard:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    overflow: hidden;
    position: relative;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.productCard:hover .productImage img {
    transform: scale(1.05); 
}

.cardDetails {
    padding: 15px;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
}

.productName a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.productName a:hover {
    color: #007bff; 
}

.productPrice {
    font-size: 1.2em;
    color: #e63946;
    font-weight: 700;
    margin-bottom: 10px;
}

.soldCount {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 15px;
    display: block;
}

.addToCartButton {
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
    width: 100%;
}

.addToCartButton:hover {
    background-color: #2c3e50;
}

.productListDisplay{
    display: flex;
}