#main-imgs{
    width: 100%;
    display: flex;
    height: 1000px;
}

.gender-img{
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.gender-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    transition: 0.3s;
    cursor: pointer;
}

.gender-img img:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

.productsDisplay{
    padding: 0px 150px;
    margin: 50px 0px;
}

.info-section{
    margin-bottom: 20px;
}

.info-section h2{
    margin-bottom: 10px;
}

.info-section p{
    margin-top: 5px;
    font-weight: 100;
    color: rgb(62, 62, 62);
}

.productListDisplay{
    display: flex;
    gap: 30px;
}

.productCard {
    background-color: whitesmoke;
    overflow: hidden;
    max-width: 300px;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    overflow: hidden;
    position: relative;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.cardDetails {
    padding: 15px;
    padding-left: 0px;
    text-align: left;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.productName a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.productPrice {
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin: 5px 0px 0px 0px;
}

