main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

main header {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;     
    padding: 20px 0;
}

#brand-logo {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#brand-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#brand-info {
    max-width: 900px;
    margin-top: 15px;
}

#brand-info h2{
    margin: 0;
    font-size: 42px;
}

#brand-info p {
    text-align: center;
    font-size: 18px;
    color: rgb(64, 64, 64);
}

main section{
    font-size: 24px;
    width: 85%;
}

h3{
    margin: 10px 0px 0px 0px;
}

hr{
    margin: 10px 0px 30px 0px;
}

#productDisplay{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.productCard {
    background-color: whitesmoke;
    overflow: hidden;
    width: auto;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.productImage {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    overflow: hidden;
    position: relative;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.cardDetails {
    padding: 15px;
    padding-left: 0px;
    text-align: left;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productName {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.productName a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s;
}

.productPrice {
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin: 5px 0px 0px 0px;
}
