{% extends 'base.html' %}

{% load static %}


{% block extraCss %}
<link rel="stylesheet" href="{% static 'css/homeStyle.css' %}">
{% endblock %}

{% block content %}
<main>
    <div id="main-image">
        <h2>¡Se Acerca El Black Friday!</h2>
        <button>Apuntarme</button>
        <img src="{% static '/Img/mainImage.webp' %}" alt="">
    </div>
    <section class="productsDisplay">
        <div class="info-section">
            <h2>En Tendencia</h2>
            <p>Descubre cuales son los últimos productos que más están gustando en la comunidad.</p>
        </div>
        <div class="productListDisplay">
            {% for producto in productos_tendencia %}
            <div class="productCard">
                <a href="{% url 'producto_detalle' producto.producto__id_producto %}">
                    <div class="productImage">
                        <img src="{% static producto.producto__imagen_url %}" alt="" loading="lazy">
                    </div>
                </a>
                <div class="cardDetails">
                    <h3 class="productName">
                        <a href="{% url 'producto_detalle' producto.producto__id_producto %}">{{ producto.producto__nombre }}</a>
                    </h3>
                    <p class="productPrice">{{ producto.producto__precio }}€</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="productsDisplay">
        <div class="info-section">
            <h2>Los más vendidos</h2>
            <p>Descubre cuales son los productos más vendidos de KeepKlothing.</p>
        </div>
        <div class="productListDisplay">
            {% for producto in mas_vendidos %}
            <div class="productCard">
                <a href="{% url 'producto_detalle' producto.producto__id_producto %}">
                    <div class="productImage">
                        <img src="{% static producto.producto__imagen_url %}" alt="" loading="lazy">
                    </div>
                </a>
                <div class="cardDetails">
                    <h3 class="productName">
                        <a href="#">{{ producto.producto__nombre }}</a>
                    </h3>
                    <p class="productPrice">{{ producto.producto__precio }}€</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}