{% extends 'base.html'%}

{%load static%}

{% block extraCss %}
<link rel="stylesheet" href="{% static 'css/filterStyle.css' %}">
{% endblock %}
{% block content %}
<main>
    <header id="main-header">
        <h2>{{categoria}}</h2>
        <hr>
    </header>
    <div id="display-productos">
        {% for producto in productos%}
        <div class="productCard">
            <a href="{% url 'producto_detalle' producto.id_producto %}">
                <div class="productImage">
                    <img src="{% static producto.imagen_url%}" alt="" loading="lazy">
                </div>
            </a>
            <div class="cardDetails">
                <h3 class="productName">
                    <a href="{% url 'producto_detalle' producto.id_producto %}">{{ producto.nombre }}</a>
                </h3>
                <p class="productPrice">{{ producto.precio }}€</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}
