{% extends "base.html" %}
{% load static %}

{% block extraCss %}
<link rel="stylesheet" href="{% static 'css/productDetails.css' %}">
{% endblock %}

{% block content %}
<div class="product-detail">
    <div class="product-main">
        <div class="product-image">
            {% if producto.imagen_url %}
            <img src="{% static producto.imagen_url %}" alt="{{ producto.nombre }}">
            {% else %}
            <img src="{% static 'img/no-image.png' %}" alt="Sin imagen disponible">
            {% endif %}
        </div>
        <div class="product-info">
            <h1>{{ producto.nombre }}</h1>

            <p class="price">
                {{ producto.precio }} €
            </p>

            {% if rating_medio %}
            <p class="rating">
                ⭐ {{ rating_medio|floatformat:1 }} / 5
            </p>
            {% endif %}

            <hr>

            <p class="brand"><strong>Marca:</strong>
                <a href="{% url 'marca' producto.marca.nombre%}">{{producto.marca.nombre }}</a>
            </p>

            <p class="category">
                <strong>Categoría:</strong> {{ producto.categoria.nombre }}
            </p>

            <p class="stock">
                <strong>Stock:</strong>
                {% if producto.stock > 0 %}
                En stock ({{ producto.stock }} unidades)
                {% else %}
                Sin stock
                {% endif %}
            </p>

            <div class="payment-btns">
                {% if producto.stock > 0 %}
                <button id="cart-btn" onclick="Cart.add({
                            id: {{ producto.id_producto }}, 
                            name: '{{ producto.nombre|escapejs }}', 
                            price: {{ producto.precio }}, 
                            image: '{% if producto.imagen_url %}{% static producto.imagen_url %}{% else %}{% static 'img/no-image.png' %}{% endif %}'
                        })">
                    Añadir a la cesta
                </button>
                {% else %}
                <button id="cart-btn" disabled style="background-color: grey; cursor: not-allowed;">
                    Agotado
                </button>
                {% endif %}
                <button id="buy-now-btn">
                    Comprar ya
                </button>
            </div>

            <div class="description">
                <h3>Descripción</h3>
                <p>{{ producto.descripcion|linebreaks }}</p>
            </div>


        </div>
    </div>

    <hr>
    {% if allowReview %}
    <h2>Escribe tu reseña</h2>
    <form class="review-form" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button id="submit-review" type="submit">Enviar Reseña</button>
    </form>
    {% else %}
    <p id="review-alert">Gracias por tu opinión! Solo puedes dejar una reseña por producto.</p>
    {% endif %}
    <hr>

    <div class="product-reviews">
        <h2>Reseñas</h2>

        {% if resenias %}
        <ul>
            {% for r in resenias %}
            <li>
                <strong>{{ r.usuario.nombre }}</strong>
                – {{ r.estrellas }} / 5 ⭐
                <br>
                <small>{{ r.fecha_resenia|date:"d/m/Y H:i" }}</small>
                {% if r.comentario %}
                <p>{{ r.comentario }}</p>
                {% endif %}

                {% if r.usuario.id_usuario == 2 %}  <!-- Solo mostramos el boton de borrar si la reseña pertenece al usuario con id_usuario = 2.Esto evita que un usuario borre reseñas de otros -->
                <form method="post" action="{% url 'eliminar_resenia' r.id_resenia %}">  <!-- Formulario para borrar la reseña. method="post": porque estamos modificando la BD. action: llama a la URL 'eliminar_resenia' pasando el id de esta reseña -->
                    {% csrf_token %}  <!-- Token de seguridad obligatorio en POST -->
                    <button type="submit" class="btnEliminarResena">   <!-- Boton para enviar el formulario y borrar la reseña -->
                        Eliminar reseña
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Este producto todavía no tiene reseñas.</p>
        {% endif %}
    </div>
<script src="{% static 'js/ajax_logic.js' %}"></script>
</div>
{% endblock %}